body{
    background-color: black;
    color: white;
    align-items: center;
}

table{
    margin: auto;
}

h1{
	font-size: 48pt
}

img{
	margin:auto;
}
td{
	
    align-items: center;
    align-content: center;
}

.MainPhoto{
	max-width: 380px;
    max-height: 280px;
    margin: auto;
}

.Photo{
	max-width: 350px;
    max-height: 300px;
    margin: auto;
}

.Photo2{
	max-width: 270px;
    max-height: 220px;
    margin: auto;
}

#mainDiv{
    background-color: rgba(150,150,150,0.3);
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    max-width: 800px;
    min-height: 1500px;
    margin: auto;
}

#mainTitle{
    margin: auto;
    font-family: "Georgia";
}

#bioParagraph{
    text-align: justify;
    line-height: 150%;
}
